apiclient==1.0.3
appdirs==1.4.3
beautifulsoup4==4.6.0
bs4==0.0.1
cffi==1.10.0
Flask==0.12.2
Flask-WTF==0.14.2
httplib2==0.10.3
jedi==0.10.2
Jinja2==2.9.6
MarkupSafe==1.0
oauth2client==4.1.0
olefile==0.44
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.17
Pygments==2.2.0
pyparsing==2.2.0
requests==2.14.2
rsa==4.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
typing==3.6.1
uritemplate==3.0.0
urllib3==1.21.1
wcwidth==0.1.7
WTForms==2.1
